<%- include('../partials/header--start') %> 
<title>Remember faces game</title>

<link rel="stylesheet" href="/stylesheets/dist/faces.css">
<%- include('../partials/header--end') %> 

<div class="container">
    <div class="row">
        <h1>Remember <strong>Faces</strong> Below</h1>
        <center>
            <p>names will hide in: <span class="timer text-danger">15</span> seconds</p>
        </center>
    </div>
    <div class="row justify-content-between">
        <!-- Rendering Faces -->
        <% questions.forEach((question, index) => { %>
            <div data-question-id="<%= index %>" class="col-10 col-md-4 col-lg-2 mx-2 ">
                <div class="card"><img class="img-thumbnail" src="<%= question.image %>" alt="image"></div>
                <p class="text-center"><%= question.name %></p>
                <!-- FIXME:  CORRECTLY ALLIG ANSWERS INPUT -->
                <input id="<%= index %>" class="d-none" type="text" value="">
            </div>
        <% }) %>
    </div>
    
<%- include('../partials/scripts') %> 
<script src="/javascripts/faces.js"></script>
<%- include('../partials/footer') %> 
